<nav class='navbar'>
  <div class="navbar-brand">      
    <%= link_to root_path, class: 'navbar-item' do %>
      <% if member_signed_in? %>
        <h1 class='title is-5'>Welcome <%= current_member.name %></h1>
      <% else %>
        <h1 class='title is-5'>Member's Club</h1>
      <% end %>
    <% end %>
    <div class="navbar-burger burger" data-target='navbar'>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <%= link_to 'New Post', new_post_path, class: 'button is-success is-inverted' %>
          </p>
          <% if member_signed_in? %>
            <p class="control">
              <%= link_to current_member.name, edit_member_registration_path, class: 'button is-success' %>
            </p>
            <p class="control">
              <%= link_to 'Logout', destroy_member_session_path, method: :delete, class: 'button is-success' %>
            </p>
          <% else %>
            <p class="control">
              <%= link_to 'Sign In', new_member_session_path, class: 'button is-success' %>
            </p>
            <p class="control">
              <%= link_to 'Sign Up', new_member_registration_path, class: 'button is-success' %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</nav>