<nav class='navbar'>
  <div class="navbar-brand">      
    <div class="navbar-item">
      <%= link_to "Member's Club", root_path, class: 'title is-5' %>
    </div>    
    <div id="navBurger" class="navbar-burger burger" data-target='navbar'>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field m-1 pr-4">
          <p class="control">
          <% cookies[:theme] = cookies[:theme] || 'light' %>
          <% if cookies[:theme] == "light" %>
            <%= link_to root_path(theme: 'dark'), class: 'card-icon' do %>
              <span class="icon">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
              </span>
            <% end %>
          <% else %>
            <%= link_to root_path(theme: 'light'), class: 'card-icon' do %>
              <span class="icon">
                <i class="fa fa-sun-o" aria-hidden="true"></i>
              </span>
            <% end %>
          <% end %>
          </p>
        </div>
        <div class="field m-1">
          <p class="control">
            <%= link_to 'New Post', new_post_path, class: 'button is-info is-inverted' %>
          </p>
        </div>
        <div class="field is-grouped ml-4">
          <% if member_signed_in? %>
            <p class="control">
              <%= link_to current_member.name, edit_member_registration_path, class: 'button is-info' %>
            </p>
            <p class="control">
              <%= link_to 'Logout', destroy_member_session_path, method: :delete, class: 'button is-info' %>
            </p>
          <% else %>
            <p class="control">
              <%= link_to 'Sign In', new_member_session_path, class: 'button is-info' %>
            </p>
            <p class="control">
              <%= link_to 'Sign Up', new_member_registration_path, class: 'button is-info' %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</nav>